<div>
    <label>Наименование:</label>
    <input type="text" name="title" value="<%= product.title %>">
</div>
<div>
    <label>Описание:</label>
    <textarea name="description"><%= product.description %></textarea>
</div>
<div>
    <label>Цена на бройка:</label>
    <input type="text" name="pricePerPiece" value="<%= product.pricePerPiece %>">
</div>
<div>
    <label>Грамаж на бройка:</label>
    <input type="text" name="weightPerPiece" value="<%= product.weightPerPiece %>">
</div>
<div>
    <label>Бройки в кашон/опаковка:</label>
    <input type="number" name="piecesPerUnit" min="1" value="<%= product.piecesPerUnit %>">
</div>
<div>
    <label>Цена на кашон/опаковка:</label>
    <input type="text" name="pricePerUnit" value="<%= product.pricePerUnit %>">
</div>
<div>
    <label>Снимка:</label>
    <input type="file" name="productImage">
</div>