<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
<script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script defer src="/javascripts/fileUpload.js"></script>

<style>
.filepond--root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
}

.filepond--panel-root {
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
}

.filepond--drop-label {
    color: black;
    font-size: inherit;
}
</style>

<div class="form-row">
    <div class="form-item">
        <label>Наименование:</label>
        <input type="text" name="title" value="<%= product.title %>">
    </div>
    <div class="form-item form-item-hidden">
        <label>null</label>
        <input>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Цена на бройка (в лв.):</label>
        <input type="text" name="pricePerPiece" value="<%= product.pricePerPiece %>">
    </div>
    <div class="form-item">
        <label>Грамаж на бройка (в гр.):</label>
        <input type="text" name="weightPerPiece" value="<%= product.weightPerPiece %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Цена на кашон/опаковка (в лв.):</label>
        <input type="text" name="pricePerUnit" value="<%= product.pricePerUnit %>">
    </div>
    <div class="form-item">
        <label>Бройки в кашон/опаковка:</label>
        <input type="number" name="piecesPerUnit" min="1" value="<%= product.piecesPerUnit %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Снимка:</label>
        <input type="file" name="productImage" class="product-image filepond">
    </div>
    <div class="form-item">
        <label>Описание:</label>
        <textarea name="description"><%= product.description %></textarea>
    </div>
</div>