<link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet" />
<script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script defer src="/javascripts/fileUpload.js"></script>

<style>
.filepond--root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.filepond--panel-root {
    border: 1px solid #ced4da;
    background-color: white;
}
.filepond--drop-label {
    color: black;
}
</style>

<div class="container">
    <div class="mb-3">
        Всички полета са задължителни<span id="except" style="display: none;">, с изключение на това за добавянето на изображение</span><span style="color: red"> *</span>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <label class="form-label">Наименование:</label><br>
            <input required class="form-control" type="text" name="title" value="<%= product.title %>">
        </div>
        <div class="col-md mb-2">
            <label class="form-label">Категория:</label><br>
            <input required class="form-control" type="text" name="category" value="<%= product.category %>">
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <label class="form-label">Цена на бройка (в лв.):</label><br>
            <input required class="form-control" type="text" name="pricePerPiece" 
            pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
            value="<%= product.pricePerPiece %>">
        </div>
        <div class="col-md mb-2">
            <label class="form-label">Грамаж на бройка (в гр.):</label><br>
            <input required class="form-control" type="text" name="weightPerPiece"
            pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак." 
            value="<%= product.weightPerPiece %>">
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <label class="form-label">Цена на кашон/опаковка (в лв.):</label><br>
            <input required class="form-control" type="text" name="pricePerUnit" 
            pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
            value="<%= product.pricePerUnit %>">
        </div>
        <div class="col-md mb-2">
            <label class="form-label">Бройки в кашон/опаковка:</label><br>
            <input required class="form-control" type="number" name="piecesPerUnit" min="1" value="<%= product.piecesPerUnit %>">
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <label class="form-label">Описание:</label><br>
            <textarea required class="form-control" rows="8" name="description" placeholder="Наименование, производител, код.."><%= product.description %></textarea>
        </div>
        <div class="col-md mb-2">
            <label class="form-label">Снимка:</label><br>
            <input class="prod-img filepond" type="file" name="productImage">
        </div>
    </div>
</div>