<div class="container" style="max-width: 800px;">
    <div class="row mb-2 text-center">
        <label class="form-label" for="inEmail">Имейл:<span style="color: red"> *</span></label>
        <div class="d-flex justify-content-center">
            <input style="max-width: 400px;" class="form-control" type="email" id="inEmail" name="inEmail"
            required value="<%= user.email %>">
            <div class="ms-2" style="transform: translateY(13%); visibility: hidden;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="row mb-2 text-center">
        <label class="form-label" for="passwordID">Парола:<span id="spanPsw1" style="color: red"> *</span></label>
        <div class="d-flex justify-content-center">
            <input id="passwordID" style="max-width: 400px;" class="form-control" type="password" name="inPassword"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Трябва да съдържа поне едно число, една главна буква, една малка буква и да е дълга поне 8 символа."
            required>
            <a class="ms-2" style="transform: translateY(13%); color: inherit" onclick="showPass()">
                <div id="eyeNoView">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                </div>
                <div id="eyeView" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <div class="row mb-5 text-center">
        <label class="form-label" for="passwordIDRep">Повторете паролата:<span id="spanPsw2" style="color: red"> *</span></label>
        <div class="d-flex justify-content-center">
            <input id="passwordIDRep" style="max-width: 400px;" class="form-control" type="password" name="inPasswordRepeat"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Трябва да съдържа поне едно число, една главна буква, една малка буква и да е дълга поне 8 символа."
            required>
            <a class="ms-2" style="transform: translateY(13%); color: inherit" onclick="showRepeatPass()">
                <div id="eyeNoViewRep">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                </div>
                <div id="eyeViewRep" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md mb-2">
            <label for="name" class="form-label">Име:</label>
            <input type="text" class="form-control" id="inName" name="inName" value="<%= user.name %>">
        </div>
        <div class="col-md mb-2">
            <label for="inBusinessName" class="form-label">Наименование на магазина/фирмата:<span style="color: red"> *</span></label>
            <input required type="text" class="form-control" id="inBusinessName" name="inBusinessName" value="<%= user.businessName %>">
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <label for="address" class="form-label">Адрес за доставка:<span style="color: red"> *</span></label>
            <input required type="text" class="form-control" id="inAddress" name="inAddress" value="<%= user.address %>">
        </div>
        <div class="col-md mb-2">
            <label for="phone" class="form-label">Телефон:<span style="color: red"> *</span></label>
            <input required type="tel" class="form-control" id="inPhone" name="inPhone"
            pattern="^\(?\+?[3]?[5]?[9]?\)?[-. ]?([0-9]{1})?[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?$"
            title="Моля, въведете валиден телефонен номер."
            value="<%= user.phone %>">
        </div>
    </div>
</div>