<div style="text-align: center;">
    <a class="btn btn-primary" href="/admin/new">Добави</a>
</div>
<br>
<h2 class="page-header page-header-centered">Търсене на продукти</h2>
<form action="/admin" method="GET">
    <%- include('../partials/searchForm.ejs') %>
</form>
<br>
<div>
    <% if (products != null) { %>
    <% products.forEach(product => { %>
        <div><%= product.title %></div>
        <a href="/admin/<%= product.id %>">
            <img class="product-image" src="<%= product.productImagePath %>">
        </a>
        <div class="btn-row">
            <a class="btn btn-primary" href="/admin/<%= product.id %>/edit">Редактирай</a>
            <%- include('_deleteForm', { url: `/admin/${product.id}` }) %>
        </div>
    <% }) %>
    <% } %>
</div>