<div class="text-center">
    <a class="btn btn-success mb-3" href="/admin/new-product">Добави продукт</a>
    <a class="btn btn-success mb-3 ms-2" href="/admin/new-user">Добави клиент</a>
</div>
<div class="text-center">
    <a class="btn btn-secondary mb-3 ms-2" onclick="showUserList()">Покажи клиентите</a>
</div>
<div id="userList" style="display: none;">
<% if (users.length > 0) { %>
    <% users.forEach(user => { %>
        <div class="d-md-flex py-4 justify-content-center text-center mb-1">
            <a style="color: inherit; transform: translateY(8%);" class="me-3"
                href="/admin/user/<%= user.id %>"
                data-bs-custom-class="custom-popover"
                data-bs-toggle="popover" data-bs-trigger="hover"
                title="<%= user.address %>" 
                data-bs-content="Телефон: <%= user.phone %>">
                <%= user.businessName%>
            </a>
            <a class="btn btn-primary btn-sm mb-1 me-1" href="/admin/user/<%= user.id %>/edit">Редактирай</a>
            <form method="POST" action="/admin/user/<%= user.id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm" type="submit" 
                onclick="return confirm('Потвърждавате ли изтриването?')">Изтрий</button>
            </form>
        </div>
    <% }) %>
    <div style="visibility: hidden;">null</div>
<% } else { %>
    <div class="mb-3" style="display: flex; justify-content: center; text-align: center;">
        <br>
        <div class="error-message">
            Не са намерени клиенти!
        </div>
    </div>
<% } %>
</div>
<form action="/admin" method="GET">
    <%- include('../partials/searchForm.ejs') %>
</form>
<% if (products != null && maxPage != 0) { %>
    <%- include('../partials/sortForm.ejs') %>
    <div class="d-md-flex py-4 justify-content-center text-center">
        <% products.forEach(product => { %>
            <a href="/admin/<%= product.id %>"
                data-bs-custom-class="custom-popover"
                data-bs-toggle="popover" data-bs-trigger="hover"
                title="<%= product.title %> <%= product.weightPerPiece%> гр." 
                data-bs-content="Цена на бройка: <%= product.pricePerPiece %> лв.">
                <img class="img-fluid prod-img mb-3" src="<%= product.productImagePath %>" alt="Изображение">
            </a>
            <div class="mb-3" style="display: block;">
                <a class="btn btn-primary mb-1" href="/admin/<%= product.id %>/edit">Редактирай</a>
                <%- include('_deleteForm', { url: `/admin/${product.id}` }) %>
            </div>
        <% }) %>
    </div>
    <%- include('../partials/pagination.ejs') %>
<% } else if (products != null) { %>
    <div style="text-align: center;">
        <br>
        <div class="error-message">
            Не са намерени продукти по зададения критерий!
        </div>
    </div>
<% } %>