<a href="/admin/new" style="border: 1px solid black; border-radius: 3px;">Добави продукт</a>
<h2 class="page-header">Търсене на продукти</h2>
<form action="/admin" method="GET">
    <div>
        <label>Наименование</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Минимална цена на бройка</label>
        <input type="text" name="minPricePerPiece" value="<%= searchOptions.minPricePerPiece %>">
    </div>
    <div>
        <label>Максимална цена на бройка</label>
        <input type="text" name="maxPricePerPiece" value="<%= searchOptions.maxPricePerPiece %>">
    </div>
    <div>
        <label>Минимална цена на кашон/опаковка</label>
        <input type="text" name="minPricePerUnit" value="<%= searchOptions.minPricePerUnit %>">
    </div>
    <div>
        <label>Максимална цена на кашон/опаковка</label>
        <input type="text" name="maxPricePerUnit" value="<%= searchOptions.maxPricePerUnit %>">
    </div>
    <button type="submit">Търси</button>
</form>
<div>
    <% products.forEach(product => { %>
        <div><%= product.title %></div>
        <a href="/admin/<%= product.id %>">
            <img height="150" width="150" src="<%= product.productImagePath %>">
        </a>
        <div class="btn-row">
            <a class="btn btn-primary" href="/admin/<%= product.id %>/edit">Редактирай</a>
            <%- include('../partials/deleteForm', { url: `/admin/${product.id}` }) %>
        </div>
    <% }) %>
</div>