<h2 class="page-header page-header-centered" style="margin-bottom: 1rem;">Търсене на продукти</h2>
<div class="form-row">
    <div class="form-item">
        <label>Наименование</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div class="form-item form-item-hidden">
        <label>null</label>
        <input>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Категория</label>
        <select id="category" name="category">
            <option value="" selected>Изберете...</option>
            <option value="Бонбони">Бонбони</option>
            <option value="Вафли">Вафли</option>
            <option value="Кроасани">Кроасани</option>
            <option value="Солети">Солети</option>
            <option value="Други">*Други</option>
        </select>
    </div>
    <div class="form-item">
        <label>Описание на продукта</label>
        <textarea name="description"><%= searchOptions.description %></textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label><span style="font-style: italic;">Минимална</span> цена на бройка (в лв.)</label>
        <input type="text" name="minPricePerPiece" 
        pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
        value="<%= searchOptions.minPricePerPiece %>">
    </div>
    <div class="form-item">
        <label><span style="font-style: italic;">Максимална</span> цена на бройка (в лв.)</label>
        <input type="text" name="maxPricePerPiece" 
        pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
        value="<%= searchOptions.maxPricePerPiece %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label><span style="font-style: italic;">Минимална</span> цена на кашон/опаковка (в лв.)</label>
        <input type="text" name="minPricePerUnit" 
        pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
        value="<%= searchOptions.minPricePerUnit %>">
    </div>
    <div class="form-item">
        <label><span style="font-style: italic;">Максимална</span> цена на кашон/опаковка (в лв.)</label>
            <input type="text" name="maxPricePerUnit" 
            pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
            value="<%= searchOptions.maxPricePerUnit %>">
    </div>
</div>
<input style="display: none;" type="text" name="allProducts" value="<%= searchOptions.allProducts %>">
<div class="form-row form-row-end" style="margin-top: 1rem;">
    <button class="btn btn-primary" type="submit">Търси</button>
</div>
<script>
    updateSelectBox('category', '<%= searchOptions.category %>')
</script>