<h5 id="search-header" class="text-center mb-3">Търсене на продукти</h5>
<script>
    const searchParams = new URLSearchParams(window.location.search)
    const cat = searchParams.get('category')
    if (searchParams.has('category') && cat !== '' && cat !== null) {
        if (cat === 'Всички')
            document.getElementById('search-header').textContent = cat
        else
            document.getElementById('search-header').textContent = "Категория '" + cat + "'"
    } else {
        if (searchParams.toString() === 'allProducts=yes')
            document.getElementById('search-header').textContent = 'Всички'
        else
            document.getElementById('search-header').textContent = 'Търсене на продукти'
    }
</script>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Категории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <a href="#" onclick="setCategory('Всички')">
                <li class="list-group-item d-flex justify-content-between align-items-center add-hover">
                    Всички
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </span>
                </li>
            </a>
            <a href="#" onclick="setCategory('Солети')">
                <li class="list-group-item add-hover">
                    Солети
                </li>
            </a>
            <a href="#" onclick="setCategory('Кроасани')">
                <li class="list-group-item add-hover">
                    Кроасани
                </li>
            </a>
        </ul>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Въведи
        </button>
        <div class="dropdown-menu dropdown-menu-search text-center bg-light" aria-labelledby="dropdownMenuButton">
            <form class="dropdown-menu dropdown-menu-search p-4">
                <div class="form-group">
                    <label class="form-label" for="dropdownName">Наименование</label>
                    <input class="form-control" type="text" name="title" value="<%= searchOptions.title %>" id="dropdownName">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dropdownDesc">Описание на продукта</label>
                    <textarea class="form-control" name="description" id="dropdownDesc"><%= searchOptions.description %></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label" for="dropdownMin">Минимална цена на бройка (в лв.)</label>
                    <input class="form-control" type="text" name="minPricePerPiece" id="dropdownMin"
                        pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
                        value="<%= searchOptions.minPricePerPiece %>">
                </div>
                <div class="form-group">
                    <label class="form-label" for="dropdownMax">Максимална цена на бройка (в лв.)</label>
                    <input class="form-control" type="text" name="maxPricePerPiece" id="dropdownMax"
                        pattern="^[\.0-9]*$" title="Моля, въведете числова стойност и използвайте точка за десетичния знак."
                        value="<%= searchOptions.maxPricePerPiece %>">
                </div>
                <input style="display: none;" type="text" name="category" value="<%= searchOptions.category %>">
                <input style="display: none;" type="text" name="allProducts" value="<%= searchOptions.allProducts %>">
                <button class="btn btn-warning mt-2" type="submit">Търси</button>
            </form>
        </div>
    </div>
    <a class="btn btn-secondary ms-3" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas">
        Избери категория
    </a>
</div>