<h2 class="page-header"> <%= product.title %> </h2>
<div class="product-details">
    <div><img class="product-image" src="<%= product.productImagePath %>"></div>
    <div class="product-details-grid">
        <div class="product-details-label">Цена на бройка: </div>
        <div class="product-details-item"><%= product.pricePerPiece + ' лв.' %></div>
        <div class="product-details-label">Бройки в кашон/опаковка: </div>
        <div class="product-details-item"><%= product.piecesPerUnit %></div>
        <div class="product-details-label">Цена на кашон/опаковка: </div>
        <div class="product-details-item"><%= product.pricePerUnit + ' лв.' %></div>
        <div class="product-details-label">Грамаж на бройка: </div>
        <div class="product-details-item"><%= product.weightPerPiece + ' гр.' %></div>
        <div class="product-details-label">Описание: </div>
        <div class="product-wrap-description"><%= product.description %></div>
    </div>
</div>
<br>