<script src="https://www.google.com/recaptcha/api.js?render=6Lf6_FogAAAAALD737ruBtcBGAt5nLz3AVtWCTSY"></script>
<h2 class="page-header page-header-centered" style="margin-bottom: 1rem;">Създаване на заявка</h2>
<form id="reqForm" action="/request/send" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Име:<span style="color: red"> *</span></label>
            <input required type="text" name="name" value="<%= requestData.name %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Наименование на магазина/фирмата:<span style="color: red"> *</span></label>
            <input required type="text" name="storeName" value="<%= requestData.storeName %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Адрес за доставка:<span style="color: red"> *</span></label>
            <input required type="text" name="address" value="<%= requestData.address %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Телефон:<span style="color: red"> *</span></label>
            <input required type="tel" name="phone" 
            pattern="^\(?\+?[3]?[5]?[9]?\)?[-. ]?([0-9]{1})?[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?$"
            title="Моля, въведете валиден телефонен номер."
            value="<%= requestData.phone %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Описание на заявката:<span style="color: red"> *</span><span onclick="showSearchModal()" class="add-desc">Добави продукт</span></label>
            <textarea required id="info" name="info" style="min-height: 15rem;"><%= requestData.info %></textarea>
        </div>
    </div>
    <div class="form-row form-row-end btn-row" style="margin-top: 1rem;">
        <a class="btn btn-danger" href="/">Откажи</a>
        <button class="btn btn-primary" type="submit">Потвърди</button>
    </div>
</form>
<div id="search-modal" class="modal">
    <div class="search-modal-content animate">
        <div class="close-modal" onclick=hideSearchModal() title="Затвори">&times;</div>
        <input type="hidden" id="selected" name="selected">
        <input type="text" id="userQuery" onkeyup="searchFilter()" placeholder="Търсене по име..">
        <ul id="prodUL">
            <% let pos = 1 %>
            <% products.forEach(product => { %>
                <li onclick="saveSelection()">
                    <a href="#" onclick="return false;" 
                    data-name='<%= product.title %>' 
                    tabindex="<%= pos %>"><%= pos %>. <%= product.title %></a>
                </li>
                <% pos++ %>
            <% }) %>
        </ul>
        <button class="btn btn-primary modal-end" onclick="append()">Добавяне</button>
    </div>
</div>
<script>
    var reqStatus = '-1'
    document.getElementById('reqForm').addEventListener('submit', runVerify)

    function runVerify(e) {
        e.preventDefault()
        runCaptcha()
    }

    function runCaptcha() {
        grecaptcha.execute('6Lf6_FogAAAAALD737ruBtcBGAt5nLz3AVtWCTSY', {action: 'submit'})
        .then(function(token) {
            sendData(token)
        })
    }

    async function sendData(captcha) {
        const bodyData = JSON.stringify({ captcha: captcha })

        await fetch('/request/verify', {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type': 'application/json'
            },
            body: bodyData
        })
        .then((res) => res.json())
        .then((data) => {
            reqStatus = data.status
        })

        if (reqStatus == '1') {
            document.getElementById('reqForm').submit()
        } else {
            alert('Моля, изкачайте!')
        }
    }
</script>