<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://www.google.com/recaptcha/api.js?render=YOUR-SITE-KEY"></script>
<h2 class="page-header page-header-centered" style="margin-bottom: 1rem;">Създаване на заявка</h2>
<form action="/request/send" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Име:<span style="color: red"> *</span></label>
            <input id="uEmail" required type="text" name="name" value="<%= requestData.name %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Наименование на магазина/фирмата:<span style="color: red"> *</span></label>
            <input required type="text" name="storeName" value="<%= requestData.storeName %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Адрес за доставка:<span style="color: red"> *</span></label>
            <input required type="text" name="address" value="<%= requestData.address %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Телефон:<span style="color: red"> *</span></label>
            <input required type="tel" name="phone" 
            pattern="^\(?\+?[3]?[5]?[9]?\)?[-. ]?([0-9]{1})?[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?([0-9]{1})[-. ]?$"
            title="Моля, въведете валиден телефонен номер."
            value="<%= requestData.phone %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Описание на заявката:<span style="color: red"> *</span></label>
            <textarea required name="info" style="min-height: 15rem;"><%= requestData.info %></textarea>
        </div>
    </div>
    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
    <input type="hidden" name="action" value="validate_captcha">
    <div class="form-row form-row-end btn-row" style="margin-top: 1rem;">
        <a class="btn btn-danger" href="/">Откажи</a>
        <button class="btn btn-primary" type="submit">Потвърди</button>
    </div>
</form>
<script>
    var myToken;
    
    $(document).ready(function(){
     $("button").click(function(){
      $.post("/send",{
       email: $("#uEmail").val(),
       token: myToken
      },function(res){
        alert(res);
      });
     });
     
     grecaptcha.ready(function() {
      // do request for recaptcha token
      // response is promise with passed token
      grecaptcha.execute('6LfYkFogAAAAAF7gcuF-tL3h8-LGut2eNzXLkA59')
      .then(function(token) {
        // add token value to form
        myToken = token;
      });
     });  
    });
    </script>