<script>
    document.getElementById("home").classList.add("active");
</script>
<h5 class="text-center mb-3">Най-нови продукти</h5>
<div id="imgBg1" class="img-bg py-4">
    <% products.forEach(product => { %>
        <a name="imgLink" href="/products/<%= product.id %>"
            data-bs-custom-class="custom-popover"
            data-bs-toggle="popover" data-bs-trigger="hover" 
            title="<%= product.title %> <%= product.weightPerPiece%> гр." 
            data-bs-content="Цена на бройка: <%= product.pricePerPiece %> лв.">
            <img class="img-fluid prod-img mb-3" src="<%= product.productImagePath %>" alt="Изображение">
        </a>
    <% }) %>
</div>