<div class="container">
    <h5>Кодове на продуктите</h5>
    <input class="form-control mb-3" type="text" id="userQuery" 
           onkeyup="searchFilter()" placeholder="Търсене..">
    <ul id="prodUL" class="list-group">
        <% let pos = 1 %>
        <% products.forEach(product => { %>
            <li class="list-group-item add-hover">
                <a href="#" onclick="return false;" 
                   style="display: flex; justify-content: space-between; color: black;" 
                   tabindex="<%= pos %>">
                    <span>
                        <%= pos %>. <%= product.title %> | <strong><%= product.description %></strong> | 
                    </span>
                    <span><%= product.category %></span>
                </a>
            </li>
            <% pos++ %>
        <% }) %>
        <script> hideExcessiveData() </script>
    </ul>
</div>