<form action="/products" method="GET">
    <%- include('../partials/searchForm.ejs') %>
</form>
<% if (products != null && maxPage != 0) { %>
<br>
<div class="table">
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>&numero;</th>
                    <th>Продукт</th>
                    <th>Име</th>
                    <th>Цена<br>на бр.</th>
                    <th>Бр. в кашон<br>/опаковка</th>
                    <th class="adjust">Цена на кашон<br>/опаковка</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr onclick="window.location='/products/<%= product.id %>'">
                        <td><%= pos + 1 %></td>
                        <td><img src="<%= product.productImagePath %>" alt="Изображение"></td>
                        <td><%= product.title %></td>
                        <td><%= product.pricePerPiece %> лв.</td>
                        <td><%= product.piecesPerUnit %></td>
                        <td class="adjust"><%= product.pricePerUnit %> лв.</td>
                    </tr>
                    <% pos++ %>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <a onclick="tablePagination(-5, '<%= maxPage %>')">
            <div><<</div>
        </a>
        <a onclick="tablePagination(-1, '<%= maxPage %>')">
            <div><</div>
        </a>
        <a onclick="tablePagination(1, '<%= maxPage %>')">
            <div>></div>
        </a>
        <a onclick="tablePagination(5, '<%= maxPage %>')">
            <div>>></div>
        </a>
    </div>
</div>
<% } else if (products != null) { %>
    <div style="text-align: center;">
        <br>
        <div class="error-message">
            Не са намерени продукти по зададения критерий!
        </div>
    </div>
<% } %>