<script>
    document.getElementById("products").classList.add("active");
</script>
<form action="/products" method="GET">
    <%- include('../partials/searchForm.ejs') %>
</form>
<% if (products != null && maxPage != 0) { %>
    <% if (searchOptions.sbar != null && searchOptions.sbar !== '') { %>
        <h5 class="text-center mt-5">Резултати за: "<%= searchOptions.sbar %>"</h5>
    <% } %>
    <%- include('../partials/sortForm.ejs') %>
    <div class="py-4 text-center">
        <% products.forEach(product => { %>
            <a href="/products/<%= product.id %>" 
                data-bs-custom-class="custom-popover"
                data-bs-toggle="popover" data-bs-trigger="hover"
                title="<%= product.title %> <%= product.weightPerPiece%> гр." 
                data-bs-content="Цена на бройка: <%= product.pricePerPiece %> лв.">
                <img class="img-fluid prod-img mb-3" src="<%= product.productImagePath %>" alt="Изображение">
            </a>
        <% }) %>
    </div>
    <%- include('../partials/pagination.ejs') %>
<% } else if (products != null) { %>
    <div style="text-align: center;">
        <br>
        <div class="error-message">
            Не са намерени продукти по зададения критерий!
        </div>
    </div>
<% } %>