<h2 class="page-header page-header-centered">Търсене на продукти</h2>
<form action="/products" method="GET">
    <br>
    <%- include('../partials/searchForm.ejs') %>
</form>
<% if (products != null) { %>
<br>
<div class="table">
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>&numero;</th>
                    <th>Продукт</th>
                    <th>Наименование</th>
                    <th>Цена на бройка</th>
                    <th>Бройки в кашон/опаковка</th>
                    <th>Цена на кашон/опаковка</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr onclick="window.location='/products/<%= product.id %>';">
                        <td class="counter-cell"></td>
                        <td><img src="<%= product.productImagePath %>" alt="Изображение"></td>
                        <td><%= product.title %></td>
                        <td><%= product.pricePerPiece %> лв.</td>
                        <td><%= product.piecesPerUnit %></td>
                        <td><%= product.pricePerUnit %> лв.</td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="table-nav">
        <div><<</div>
        <div><</div>
        <div>></div>
        <div>>></div>
    </div>
</div>
<% } %>