<script>
    document.getElementById("products").classList.add("active");
</script>
<form action="/products" method="GET">
    <%- include('../partials/searchForm.ejs') %>
</form>
<% if (products != null && maxPage != 0) { %>
    <%- include('../partials/sortForm.ejs') %>
    <% products.forEach(product => { %>
        <a href="/products/<%= product.id %>">
            <img loading='lazy' class="img-fluid prod-img" src="<%= product.productImagePath %>" alt="Изображение">
        </a>
    <% }) %>
    <%- include('../partials/pagination.ejs') %>
<% } else if (products != null) { %>
    <div style="text-align: center;">
        <br>
        <div class="error-message">
            Не са намерени продукти по зададения критерий!
        </div>
    </div>
<% } %>